/* override bootstrap.css */
.container {
    width: 900px;
}

.lpm-page {
    width: 980px;
}

.lpm-page-header-row {
    display: table;
    table-layout: fixed;
    width: 104%;
}

.lpm-page-header-row > div {
    display: table-cell;
    float: none;
    vertical-align: middle;
}