
/* override bootstrap.css */

.navbar-right {
    margin: 0;
}

/* layout */
body {
    background-color: #f2f2f2;
    color: #6b6b6b;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
}

.lpm-page {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0 auto;
}

.lpm-content-full{
    margin: 0;
    padding: 0;
    width: auto;
}

/* header */
.lpm-page-header {
    border-color: #e6e6e6;
    background-color: #ffffff;
    color: #808080;
}

.lpm-page-header-container{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
}

/* navigation */

.lpm-page-nav{
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: none;
}

.lpm-page-nav-collapse a {
    color: #808080;
}

/* button */
.sign-up > a {
    background-color: #FF551A;
    border: 1px solid #E84D17;
    margin-top: 8px;
    color: white;
    padding: 5px 15px !important;
    text-shadow: 0px 0px rgba(0, 0, 0, 0.3) !important;
    box-shadow: inset 0 0px 0px rgba(245, 243, 67, 0.3), inset 0 0px 0px rgba(132, 90, 23, 0.03);
    border-radius: 2px;
}

.sign-up > a:hover {
    background-color: #E84D17 !important;
}