@import '../helper/_mixin'

.lpm-page-header 
  border-color: #e6e6e6
  background-color: #ffffff
  color: #808080


.lpm-page-header-container
  padding-bottom: 20px
  padding-top: 20px


.lpm-page-header-logo
  text-align: center
  padding-bottom: 20px  
  @include phone 
    text-align: left
    margin-right: 55px


.lpm-page-header-row 
  @include wide-tablet
    display: table
    table-layout: fixed
    width: 104%


.lpm-page-header-row > div
  @include wide-tablet
    display: table-cell
    float: none
    vertical-align: middle


/* fixed header */
.lpm-page-header-fixed
  width: 100%
  left: 0px
  position: fixed
  z-index: 1
  display: none
  box-shadow: 0 0 7px rgba(0,0,0,0.1)

.lpm-page-header-fixed img
  max-height: 46px !important
  width: auto !important