@import '../helper/_mixin'

.lpm-page-nav-toggle-icon 
  @include phone 
    background: transparent
    font-size: 22px
    line-height: 19px
    padding: 6px 8px
    position: absolute
    right: 20px
    top: 20px
    width: auto
    margin: 0
