@import '../helper/_mixin'

/* override bootstrap */
.navbar-nav 
  @include tablet
    display: inline-block
    float: none
    vertical-align: top



.lpm-page-nav
  font-family: Helvetica, Verdana, Arial, sans-serif
  font-size: 16px
  font-weight: 400
  line-height: 1.4
  text-transform: none


.lpm-page-nav-collapse a 
  color: #808080


.lpm-page-nav-collapse ul > li
  @include phone
    border-bottom: 1px solid #e6e6e6
    

.lpm-page-nav-collapse
  @include tablet
    text-align: center
    border: none
    max-height: none
    padding: 0
    -moz-box-shadow: none
    -webkit-box-shadow: none
    box-shadow: none

.lpm-page-nav-wrap
  color: #808080
  background-color: #ffffff
  border-color: #e6e6e6
  @include tablet
    border-top: 1px solid #e6e6e6
    padding: 0
  @include wide-tablet
    color: #808080
    background: none
    border: none
    margin-left: 0
    margin-right: 0

.header-nav-sub-menu
  display: none
  position: absolute
  z-index: 1
  @include phone
    position: static 